<nav class="tabs">
  <%= image_tag 'food.jpg', class: 'food' %>
  <div class="content">
    <ul class="labels">
      <li class="pres-lab">Présentation</li>
      <li class="menu-lab">Menu</li>
      <li class="team-lab">L'équipe</li>
    </ul>
    <div class="pres">
      This is a presentation.
    </div>
    <div class="menu">
      <p>Le menu n'affiche que des spécialités italiennes préparées par nos meilleurs cuistots.</p>
    </div>
    <div class="team">
      <p>Considérée comme la mafia de la pizza,</p>
      <p>notre équipe préfère néanmoins faire tourner la pâte plutôt que le révolver.</p>
    </div>
  </div>
</nav>

<div class="carousel">
  <%= image_tag 'pasta.jpg', class: 'carou' %>
</div>
