.carousel_panorama {
  display: flex;
}

.carousel1 {
  transition: transform ease-in 0.4s;
  padding-left: 150px;
}

.item {
  padding: 50px 60px;
}

.item_image img {
  width: 840px;
  height: 550px;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.6);
}

.arrow_right {
  opacity: 0.6;
  width: 100px;
  position: absolute;
  top: 950px;
  left: 950px;
  cursor: pointer;
  z-index: 1000;
  transition: opacity ease-in 0.2s;
}

.arrow_left {
  opacity: 0.6;
  width: 100px;
  position: absolute;
  top: 950px;
  left: 220px;
  transform:rotate(180deg);
  cursor: pointer;
  z-index: 1000;
  transition: opacity ease-in 0.2s;
}
